* {
  margin: 0.2em 1em;
  /* font-family: "Open Sans"; */
}

body {
  border: 2px solid red;
}

/* .new-adventure {
  background-image: url('/bookings/public/images/newAdv.png');
} */

.table-inspo {
  border-spacing: 0;
  width: 80%;
}

.table-inspo tr {
  border: 5px solid red;
  padding: 0;
}

.table-inspo td {
  border: 5px solid red;
  padding: 0;
  margin: 0;
}

.table-inspo div {
  padding: 0;
  margin: 0;
}

.img-inspo {
  border-radius: 20px;
  width: 290px;
  height: 250px;
}