* {
  margin: 0.2em 1em;
  /* font-family: "Open Sans"; */
}

/* .new-adventure {
  background-image: url('/bookings/public/images/newAdv.png');
} */

.offer-card {
  height: 18px;
  padding: 0px;
  background: #000;
}