* {
  margin: 0.2em 1em;
  /* font-family: "Open Sans"; */
}

/* .new-adventure {
  background-image: url('/bookings/public/images/newAdv.png');
} */

.table-inspo {
  border-spacing: 0;
}

.img-inspo {
  border-radius: 20px;
  width: 280px;
  height: 250px;
}